<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer - Design for MagtimusPro</title>

    <link rel="stylesheet" href="./footer.component.css">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>


    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="/img/logo2.png" alt="">
                    
                </div>
                <div class="terms">
                    <p>Este programa de contabilidad fue desarrollado como parte de un proyecto académico en el Instituto Paula Robles, con el objetivo de ofrecer una solución profesional, eficiente y accesible para la gestión contable de pequeñas y medianas empresas. El sistema está diseñado para facilitar el registro, control y análisis de operaciones contables, contribuyendo a una administración financiera más organizada y transparente.</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Instituto Paula Robles</h2>
                <a href="https://institutosparroquiales.com/">Pagina Web</a>
                <a href="https://www.instagram.com/franciscodepaularoblessuperior/">Instagram</a>
                <a href="https://www.facebook.com/francisco.depaularobles.9/">Facebook</a>
                <a href="https://ar.linkedin.com/in/ramiro-blasi-176b79b3">Linkedin</a>
            </div>

            <div class="box__footer">
                <h2>Campo de trabajo</h2>
                <a href="https://www.facebook.com/matias.sanroman.14">Desarrolladores</a>
                <a href="https://www.x.com/@matiasanro">Consultas</a>
                <a href="matiassr66@gmail.com">Como Funciona</a>
                <a href="https://ar.linkedin.com/in/matias-san-roman-334714274">Nuestro trayecto</a>         
            </div>

        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2025 <b>Instituto Paula Robles</b></p>
        </div>
    </footer>

</body>
</html>
