<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asistencia de Alumnos</title>
  <link rel="stylesheet" href="inicio.component.css">
</head>
<body>


  <div class="main-container">
    <div class="contenedor">
      <div class="contenido">
        <h1>Servicio<br>Contable</h1>
        <p>Sistema profesional de servicio contable hecho en Instituto Paula Robles.</p>
        <button class="boton-demo">COMENZAR</button>
      </div>
      <div class="imagen">
        <img src="https://static.wixstatic.com/media/93567b_9b39c01a618048cbadafba5b10f7f3dd~mv2.webp/v1/fill/w_568,h_320,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/93567b_9b39c01a618048cbadafba5b10f7f3dd~mv2.webp" alt="Servicio contable">
      </div>
    </div>
    <div class="main-container">
    <div class="tarjetas-container">
      <div class="tarjeta">
        <div class="icono1"></div>
        <h3>Gestión de libros contables</h3>
        <p>Registro automático de ingresos, egresos y movimientos.</p>
      </div>
      <div class="tarjeta">
        <div class="icono2"></div>
        <h3>Preparación de impuestos</h3>
        <p>Cálculos automáticos, alertas y reportes a AFIP.</p>
      </div>
      <div class="tarjeta">
        <div class="icono3"></div>
        <h3>Informes financieros</h3>
        <p>Dashboard con gráficos interactivos y reportes descargables.</p>
      </div>
    </div>
    </div>
<section>

</section>

  </div>

</body>
<script src="../../assets/js/script.inicio.js"></script>
</html>
