<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header encabezado</title>
    <link href="/app/encabezado/encabezado.component.css" rel="stylesheet">
</head>
<body>
    <section class="header">
        <div class="announcement-bar">

        </div>
        <div class="navigation-bar">
          
          <a href="inicio"><div class="company-col">
            </div></a>
            <div class="link-col">             
              <ul>
                
                <li><a href="inicio">Inicio</a></li>
                <li><a href="informacion/">Contacto</a></li>
                <li><a href="about/">Acerca de</a></li>
                <ul class="nav-list">
                  <li><a href="register"><button class="btn bordo" >Registrarse</button></a></li>
                  <li><a href="login/"><button class="btn bordo" >Iniciar sesión</button></a></li>
                </ul>


            <div class="link-col-mobile">
                <div class="menu-button" id="menuButton">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

    <!-- Mobile Overlay -->
    <section class="mobile-overlay" id="mobileOverlay">
        <div class="mobile-menu" id="mobileMenu">
            <div class="close-button" id="closeButton"><p>Cerrar</p></div>
            <ul>
              <li><a href="inicio">Inicio</a></li>
              <li><a href="informacion">Como Funciona</a></li>
              <li><a href="support">Soporte</a></li>
              <li><a href="about">Acerca De</a></li>
              <li><a class="cta-button" href="programa">Descargar</a></li>
            </ul>
        </div>
    </section>

    <script src="assets/js/script.encabezado.js"></script>
